/*
per tutti gli ​li imposta la proprietà ​position: relative
X abbassa’ gli ​li di un numero di pixel uguale allo spessore del bordo dell’​ul utilizzando la proprietà ​top
X imposta lo stesso colore sia al bordo che allo sfondo, bianco per l'esempio.
*/

#menu li{
	position: relative;
	top: 1px;
}

#current_page{
	border-bottom-color: white;
}