/* CSS by Graziano Melzi Blog Cinema Mega Corso Udemy */

/* Definizione layout a 2 colonne */

#content-sidebar{
	width: 20%;
	float: left;
}

#content-main{
	width: 70%;
	float: right;
}

footer{
	clear: both;
}

/* Fine definizione layout a 2 colonne */

/* Definizione menù stile TAB Browser */

#menu ul{
	border-bottom-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid; 	
}

#menu li{
	display: inline-block;
	
	border-top-color: black;
	border-left-color: black;
	border-right-color: black;
	border-width: 1px;
	border-style: solid;
	
	margin: 0px 1px 0px 1px;
	padding: 0px 40px 0px 40px;
	
	position: relative;
	top: 1px;
}

#current_page{
	border-bottom-color: white;
}

/* Fine definizione menù stile TAB Browser */

h1.Logo
{
    height: 100px;
	background-image: url('../images/movie-reviw2.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: 150px 150px;
	
	padding-left: 125px;
	
	
	
}

body
{
	font-size: 18px;
	font-family: 'Open Sans', 'Arial', 'Sans Serife';
	color: black;
	
}

.Logo, footer
{
	background-color: #1c345a;
	color: white;
}

#current_page
{
	font-weight: bold;
	
}

#content-main h1
{
	color: #6e0c0c;
	
}

#content-main h2, h3, h4, h5, h6
{
	color: #1c345a;
	
}


a:link, a:visited
{
	color: #9e1616;
	
}

a:hover
{
	font_weight: bold;
	color: green;
	
}

a[href$="login.html"]:link
{
	color: #1c345a;
	
}


